<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_CuaHangLinhKienMayTinh.Properties.Settings.QL_LINHKIEN_TESTConnectionString"
            connectionString="Data Source=DESKTOP-VEBM5H4;Initial Catalog=QL_LINHKIEN_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_CuaHangLinhKienMayTinh.Properties.Settings.QL_LINHKIEN_TEST_2ConnectionString"
            connectionString="Data Source=DESKTOP-VEBM5H4;Initial Catalog=QL_LINHKIEN_TEST_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>